* {
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/055.jpg);
    background-size: 100% 100%;
}

.home .nav {
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.home .nav ul {
    list-style-type: none;
}

.home .nav ul li {
    float: right;
    margin: 15px 10px;
}

.home .nav ul .logo {
    float: left;
}

.home .nav ul .logo img {
    width: 100px;
}

.home .nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.home .nav ul li a:hover {
    border-radius: 20px;
    background-color: rgb(69, 4, 247);
    color: black;
}

/*============= End nav ===========*/
.home .caption {
    background-color: transparent;
    text-align: center;
}

.home .caption img {
    width: 400px;
    transition: all 10s;
}

.home .caption img:hover {
    transform: rotate(360deg) scale(1.5, 1.5) translate(400px, 400px);
}

.home .caption h1 {
    font-size: 60px;
    font-family: 'Style Script', cursive;
    color: rgb(74, 241, 8);
    margin: 40px 0px;
}

.home .caption button {
    border: 1px solid white;
    width: 20%;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    transition: all 1s;
}

.btn1 {
    background-color: rgb(252, 7, 7);
}

.btn2 {
    background-color: rgb(5, 30, 253);
}

.home .caption button:hover {
    transform: scale(1.2, 1.2);
}

.layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*============= End caption ===========*/
.photos .caption1 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.photos .caption1 img {
    width: 15%;
    height: 250px;
    margin: 5px;
    display: inline-block;
    padding: 5px;
}

.photos .item {
    width: 30%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
background-color: cadetblue;
}

.photos .item h1 {
    color: red;

}

.photos .item img {
    width: 35px;
    margin: 2px;
    display: inline-block;
}

.photos .item button {
    border: 1px solid white;
    font-size: 16px;
    width: 90px;
    padding: 10px 10px;
    border-radius: 20px;
    color: red;
    font-weight: bold;
    transition: all 1s;
}
.photos .item button:hover{
    transform: scale(1.2, 1.2);
}

/*============end photos ====================*/

.home .line h1 {
    margin-left: 20px;
    font-size: 20px;
    color: red;
    position: relative;
}

.home .line h1:before {
    content: "";
    position: absolute;
    padding-bottom: 10px;
    width: 85%;
    height: 5px;
    background-color: rgb(241, 3, 95);
    right: 8px;
}

/*=======================end line=====================*/
.parent .child {
    width: 20%;
    height: 350px;
    margin: 30px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .5);
}

.parent .child img {
    width: 100%;
    height: 250px;
}

.parent .child h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7px;

}

.parent .child h2 {
    padding: 7px;
    color: red;
}

/*=============end parent================================*/
.text .content {
    width: 33%;
    height: 200px;
    float: left;
    background-color: tomato;
}

.text .content h1 {
    font-size: 20px;
    color: rgb(8, 235, 45);
    padding: 5px;
}

.text .content img {
    width: 45px;
    height: 50px;
    display: inline-block;
}

/*================= End text================*/

@media(max-width :600px) {
    .home {
        height: 520px;

    }

    /*========end home===*/

    .photos .caption1 {
        width: 100%;
        height: 100hv;
        background-color: black;

    }

    .photos .caption1 img {
        width: 70px;
        height: 90px;
        background-color: black;

    }

    /*============= End caption =============*/
    .photos {
        background-color: black;
    }

    .photos .item {
        height: 530px;
        width: 170px;
        margin-top: 0px;
        padding: 0px;
        color: white;
        background-color: black;
        overflow: auto;

    }

    .photos .item h1 {
        font-size: 18px;
        text-align: center;
    }

    .photos .item img {
        width: 20px;
        height: 20px;
    }

    .photos .item button {
        width: 38px;
        font-size: 15px;
    }

    /*====end profile=======*/
    .home .line {
        background-color: black;
    }

    .home .line h1 {
        font-size: 15px;

    }

    .home .line h1:before {
        width: 70%;
    }

    /*================= End line ==============*/

    .parent {
        background-color: black;
    }

    .parent .child {
        height: 270px;
        margin: 12px;
        border: 1px solid rgb(232 254 251);
    }

    .parent .child img {
        height: 200px;
    }

    .parent .child h1 {
        color: white;
        font-size: 18px;
        padding: 1px;
    }

    .parent .child h2 {
        font-size: 18px;
    }

    /*=====end parent=====*/

    .text .content {
        width: 33%;
        height: 300px;
        display: inline-block;
        color: white;
        background-color: black;

    }

    .text .content h1 {
        font-size: 18px;
        padding: 6px;
    }

    .text .content img {
        width: 22px;
        height: 40px;
        padding: 4px;
        display: inline-block;
    }

    /*============== End text==============*/
}